---
title: "Home"
layout: "page"
---

{% capture categories %}
  {% for category in site.categories %}
    {{ category[0] }}
  {% endfor %}
{% endcapture %}
{% assign sorted = categories | split:" " | sort %}
{% assign first = sorted | first %}
{% for category in sorted %}
<section class="category">
  {% if category == first %}
  <h1 class="cramp-above">{{ category | capitalize }}</h1>
  {% else %}
  <h1>{{ category | capitalize }}</h1>
  {% endif %}
  <ul>
  {% for post in site.posts %}
    {% if post.categories.first == category %}
    <li>
      <a class="shh" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</section><!-- /category -->
{% endfor %}
