---
title: "Home"
layout: "page"
---

{% capture categories %}
  {% for category in site.categories %}
    {{ category[0] }}
  {% endfor %}
{% endcapture %}
{% assign sorted = categories | split:" " | sort %}
{% assign first = sorted | first %}
{% for category in sorted %}
<section class="category">
  <h1 {% if category == first %}class="cramp-above"{% endif %}>{{ category | capitalize }}</h1>  
  <ul>
  {% for post in site.posts %}
    {% if post.categories.first == category %}
    <li>
      <a class="shh" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</section><!-- /category -->
{% endfor %}

{% capture categories %}
  {% for category in site.categories %}
    {{ category.first | strip }}, <span>{{category.last | size}}<span>#
  {% endfor %}
{% endcapture %}
