---
layout: "default"
---

<article class="page">
  {% assign day = page.date | date: "%-d" %}
  {% if page.title != "Home" %}
  <h1 class="cramp">
    <a class="shh" href="{{ page.link }}">{{ page.title }} &rarrlp;</a> 
  </h1>
  <p class="hook space-above">Added on {{ page.date | date: "%B" }} {% case day %}{% when "1" or "21" or "31" %}{{ day }}st{% when "2" or "22" %}{{ day }}nd{% when "3" or "23" %}{{ day }}rd{% else %}{{ day }}th{% endcase %}, {{ page.date | date: "%Y" }} <a class="shh" href="{{ post.url }}">&infin;</a></p>
  {% endif %}
  {{ content }}
</article><!-- /page -->
